
PORT=8000
FRONTEND_URL=https://inventory-management-ekt7.onrender.com


# DB_HOST=127.0.0.1
# DB_USER=root
# DB_PASSWORD=Sameer22
# DB_NAME=products
# DB_PORT=3306

# for deployment

DB_HOST=
DB_USER=
DB_PASSWORD=youpassword
DB_NAME=defaultdb
DB_PORT=26792

SSL mode = REQUIRED

CA certificate =

Service URI = mysql://avnadmin:.....